<h1>Index</h1>

<% @chat_rooms.each do |room| %>
	<% room.chat_room_users.each do |u| %>
	  <div>
	  	<% if u.user.id != current_user.id %>
		    <%= link_to chat_room_path(room) do %>
		        <%= u.user.user_name %>
		    <% end %>
	    <% end %>
	  </div>
	<% end %>
<% end %>