<div class="top">
	<div class="container">
		<div class="row">
			<div class="text-center" style="color: white;">
				<h1 class="about-title">My worthとは</h1>
				<p class="about-body">
					人はそれぞれ毎日いろいろなことを考え、思いながら生きていると思います。<br>
					そして価値観、経験も全く同じ人なんていません。<br>
					今自分が本当にしたいことがわからない、生きがいが見つからない、<br>
					今日は仕事がうまく行った、もっと他人に認められたい。<br>
					このような思いを他の自分とは全く違う人にシェアしてみませんか？<br>
					時には自分の強みから向いているものを提案してもらったり、<br>
					時には嫌なことがあったら慰めてもらったり、<br>
					そして時には今日うまく行ったことを全く知らない人と褒めあったり、、、<br>
					どんなものを投稿するか決めるのはあなたです。<br>
					互いに教え合い、共感し、認めあう。<br>
					このサイトを通じて皆様が新たな自分の価値を見つけ、出会えることを祈っています。<br>
				</p>
				<p class="about-caution" style="color: red;">
					＊このサイトでは誹謗中傷など投稿主を傷つける発言は一切禁止です。<br>
                    見つけた場合予告なく投稿やユーザーの削除を行いますのでご了承ください
                </p>
				<div class="about-link"><%= link_to 'トップに戻る', tops_top_path, class:"btn btn-primary" %></div>
			</div>
		</div>
	</div>
</div>