<div class='top'>
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center" style="color: white;">
				<h1 class="top-title">ようこそMy worthへ</h1>
				<p class="top-body">自分の価値を見つけ<br>
					                互いに認めあう</p>
			    <div class="top-link"><%= link_to 'このサイトについて', tops_about_path, class:"btn btn-primary" %></div>
			</div>
			<div class="col-md-6 text-center">
				<div class="log-in"><%= link_to 'Log in', new_user_session_path, class:"btn btn-info col-xs-10" %></div>
				<div class="sign-up"><%= link_to 'Sign up', new_user_registration_path, class:"btn btn-success col-xs-10" %></div>
			</div>
		</div>
	</div>
</div>

