// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new-title {
	padding-top: 80px;
}

.new-body {
	padding-top: 40px;
	padding-bottom: 40px;
}

.n-t-title {
	font-weight: bold;
}

.n-b-content {
	font-weight: bold;
}

.n-t-field {
	width: 400px;
}

.n-b-area {
	width: 400px;
	height: 200px;
}

.c-area {
	width: 400px;
}

.c-i-list {
	padding-top: 50px;
}

.content-show {
	padding-top: 80px;
}

.content-body {
	padding-top: 50px;
}

.c-i-title {
	font-weight: bold;
	font-size: large;
}

