// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new-review {
	padding-top: 60px;
}

.new-review-body {
	width: 300px;
	height: 100px;
}