// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.u-i-list {
	padding-top: 50px;
}

.user-index {
	padding-top: 20px;
}

.user-show {
	padding-top: 50px;
}

.new-name {
	font-weight: bold;
}

.new-introduction {
	font-weight: bold;
}

.new-email {
	font-weight: bold;
}

.nav-pills {
	padding-top: 50px;
}